<h1>Wildlife datadase:</h1>
<h2>Update an animal</h2>

<form action="/submit_update" method="POST">
    
    <label for="animal_id">Animal Id:</label>
    <input id="name" type="text" name="animal[name]"></input>
    
    <label for="latin_name">Latin name:</label>
    <input id="latin_name" type="text" name="animal[latin_name]"></input>
    
    <label for="kingdom">Kingdom:</label>
    <input id="kingdom" type="text" name="animal[kingdom]"></input>
    
    <input type="submit" value="Submit that critter!"></input>
    
</form>