<h1>Hey there, fella!</h1>
<h2>Fill out this here form</h2>

<% if @account.errors %>
    <%= @account.errors.full_messages %>
<% end %>

<form action="/submit_account" method="POST">
    <label for="username">Username:</label>
    <input id="username" type="text" name="account[username]"></input>
    
    <label for="password">Password:</label>
    <input id="password" type="text" name="account[password]"></input>
    
    <label for="email">Email:</label>
    <input id="email" type="text" name="account[email]"></input>
    
    <input type="submit" value="Go on and submit it now, ya hear?"></input>
</form>